<div id="listingsContainer">
  {{#with featured}}
  {{!-- in the object being passed in, assign the first photo selected to a "feature" key --}}
  <div id="featuredContainer">
    <div id="featured"><img src={{link}} alt="" srcset="" onclick="window.location.href='/gallery/{{id}}'" class="image"></div>
  </div>
  {{/with}}

  <div id="otherContainer">
    {{#each listings}}
    {{!-- assign the rest of the queried photos here... --}}
    <div class="listing">
      <div class="thumbnail"><img src={{link}} alt="" srcset="" onclick="window.location.href='/gallery/{{id}}'"class="image"></div>
      <p class="author">{{author}}<span class="bullet"> • </span><span class="stamp">{{updated_at}}</span></p>
      <p class="description">{{description}}</p>
    </div>
    {{/each}}
</div>
